.my-form-container {
  max-width: 100%; /* Take up the full width of the container */
  margin: auto;
  padding: 20px;
  background: #ffffff; /* Set the background color to white */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ... Other existing styles ... */

  .form-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .chapter-form .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .form-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .form-check-input {
    margin-right: 5px;
  }
  
  .form-check-label {
    display: inline-block;
  }
  
  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  .image-preview {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .img-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .form-submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
  }

.form-and-image {
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: space-between; /* Space between the form and image */
  margin: 45px
}

.image-container {
  flex: 1; /* Take up half the space */
  padding-right: 20px; /* Space between image and form */
}

.edit-image {
  max-width: 100%;
  height: auto;
}

.form-container {
  flex: 1; /* Take up the other half */
}

@media (max-width: 768px) {
  .form-and-image {
    flex-direction: column; /* Stack them on smaller screens */
  }
  .image-container {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
  