/* .custom-gradient:after {
    background: linear-gradient(45deg, #d5cdf4, #c9b6f9, #956BFF , #9368E9);
    background-size: 150% 150%;
} */
.custom-gradient:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f0b9eb, #ec81f2, #956BFF, #8e5feb);
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate; /* Faster animation */
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  