<div class="sidebar custom-gradient" data-image="../../../assets/assets/img/sidebar-5.jpg">
  <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
  
      Tip 2: you can also add an image using data-image tag
  -->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        Admin Dashboard
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item  active" >
        <a class="nav-link" routerLink="/welcome">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/admin">
          <i class="nc-icon nc-circle-09"></i>
          <p>Admin Profile</p>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/user">
          <i class="nc-icon nc-badge"></i>
          <p>Students</p>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/category">
          <i class="nc-icon nc-notes"></i>
          <p>Categories</p>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/course">
          <i class="nc-icon nc-notes"></i>
          <p>Courses</p>
        </a>
      </li>

      <li>
        <a class="nav-link" routerLink="/chapter">
          <i class="nc-icon nc-paper-2"></i>
          <p>Chapters</p>
        </a>
      </li>
      <li>
        <a class="nav-link" routerLink="/quiz">
          <i class="nc-icon nc-atom"></i>
          <p>Quizzes</p>
        </a>
      </li>
     
      <li>
        <a class="nav-link" routerLink="/order">       
        <i class="nc-icon nc-bell-55"></i>
          <p>Orders</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/feedback">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>Feedbacks</p>
        </a>
      </li>
    </ul>
  </div>
</div>