.order-earnings-container {
  margin-top: -50px; /* Adjust the margin-top value as needed */
}

.title-container{
  height: 50%;
  width: 50%;
  margin-bottom: 70px;
margin-top: -140px;
}

