<div class="container">
  <h2>Update Password</h2>
  <form [formGroup]="passForm" (ngSubmit)="savePassword()">
    <div class="form-group">
        <label>current password</label>
        <input
          type="text"
          formControlName="oldPassword"
          class="form-control"
          name="oldPassword"
          [ngClass]="{
            error: passForm.get('oldPassword')?.invalid && submitted
          }"
          required
        />
      </div>
      <div class="form-group">
        <label>new password</label>
        <input
          type="text"
          formControlName="newPassword"
          class="form-control"
          name="newPassword"
          [ngClass]="{
            error: passForm.get('newPassword')?.invalid && submitted
          }"
          required
        />
      </div>
      <span *ngIf="passForm.get('newPassword')?.invalid && submitted"
      >password required
    </span>
  
    <button type="submit" class="btn btn-primary">Update Password</button>
  </form>
</div>
